<!-- login form -->
<form class="my-10 space-y-6" (ngSubmit)="login()" [formGroup]="credentials">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">ANGULAR - NOVIT</h2>
    <p class="text-sm text-gray-400 dark:text-night-200">Ingrese sus credenciales para acceder a su cuenta.</p>
  </div>

  <div
    class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-gray-300 after:mt-0.5 after:flex-1 after:border-t after:border-gray-300 dark:before:border-night-500 dark:after:border-night-500">
    <p class="mx-4 mb-0 text-center text-sm text-gray-400 dark:text-night-400">o</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input
        formControlName="email"
        title="email"
        type="text"
        id="email"
        class="peer block"
        placeholder="Correo electrónico" />
      <app-message-error [control]="credentials.controls['email']"></app-message-error>
    </div>
    <div class="relative mt-2">
      <input
        formControlName="password"
        title="password"
        [type]="show ? 'text' : 'password'"
        id="password"
        class="peer block"
        placeholder="Contraseña" />
      <app-message-error [control]="credentials.controls['password']"></app-message-error>
      <span class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300" (click)="password()">
        <svg-icon src="assets/icons/outline/eye-off.svg" [svgClass]="'h-5 w-5'" *ngIf="!show"> </svg-icon>
        <svg-icon src="assets/icons/outline/eye.svg" [svgClass]="'h-5 w-5'" *ngIf="show"> </svg-icon>
      </span>
    </div>
  </div>

  <div class="flex items-center justify-between space-x-3">
    <div class="flex items-center">
      <input id="remember-me" name="remember-me" type="checkbox" />
      <label for="remember-me" class="ml-2 block text-sm text-gray-400 dark:text-night-200">
        Mantener sesión activa
      </label>
    </div>

    <div class="text-sm">
      <a routerLink="/auth/forgot-password" class="font-medium text-primary-500 hover:text-primary-400">
        ¿Olvidaste tu contraseña?
      </a>
    </div>
  </div>

  <!-- Submit Button -->
  <button
    [disabled]="!credentials.valid"
    type="submit"
    class="group relative mb-10 flex w-full justify-center rounded-md border border-transparent bg-primary-500 py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 hover:bg-primary-400">
    Sign in
    <div role="status" *ngIf="spinner">
      <svg
        aria-hidden="true"
        class="mx-2 h-5 w-5 animate-spin fill-blue-600 text-gray-200 dark:text-gray-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor" />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill" />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </button>
  <div class="text-center">
    <p class="text-xs italic text-red-500">{{ errorMessage }}</p>
  </div>
  <!-- Sign-up -->
  <div class="text-sm text-gray-400 dark:text-night-200">
    ¿No eres miembro aún? <a routerLink="/auth/sign-up" class="text-primary-500 hover:text-primary-400">Regístrate</a>
  </div>
</form>
