<div class="grid grid-cols-5 gap-2">
  <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500" [style.background-color]="bar0"></div>
  <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500" [style.background-color]="bar1"></div>
  <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500" [style.background-color]="bar2"></div>
  <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500" [style.background-color]="bar3"></div>
  <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500" [style.background-color]="bar4"></div>
</div>
